
@{
    ViewData["Title"] = "OrderSuccess";
}

<h1>Order Successfully Completed </h1>
<p>Thank You For purchase!</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Continue Shopping</a>
