@model Lexiflix.Models.HomeVM

<div class="container-fluid py-4">
    <!-- Newest Releases Section -->
    <partial name="_MovieSection" model='new Lexiflix.Models.MovieSectionVM { 
        Title = "Newest Releases", 
        Movies = Model.NewestReleases 
    }' />

    <!-- Classic Films Section -->
    <partial name="_MovieSection" model='new Lexiflix.Models.MovieSectionVM { 
        Title = "Classic Movies", 
        Movies = Model.ClassicFilms 
    }' />

    <!-- Best Deals Section -->
    <partial name="_MovieSection" model='new Lexiflix.Models.MovieSectionVM { 
        Title = "Best Deals", 
        Movies = Model.BestDeals 
    }' />
</div>