html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

:root {
    --bs-warning: #FFD700; /* Golden color for warning */
    --bs-warning-rgb: 255, 215, 0; /* RGB values for golden color */
}
.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5); /* warning color shadow */
    border-color: #ffc107;
    outline: none;
}

/* Active dropdown item */
.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:hover {
    background-color: #ffc107 !important; /* Bootstrap warning */
    color: #000 !important;
}