@model Lexiflix.Models.MovieSectionVM

<div class="row mb-4">
    <div class="col-12">
        <h2 class="text-warning border-bottom pb-2 mb-4">@Model.Title</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
            @foreach (var movie in Model.Movies)
            {
                <div class="col">
                    <partial name="_MoviePartialView" model="@movie" />
                </div>
            }
        </div>
    </div>
</div>