
<div id="searchModal" class="custom-modal">
    <div class="modal-content-box">
        <input type="text" id="searchInputModal" class="form-control mb-3" placeholder="Search for movies..." />
        <div id="searchResults" class="d-flex flex-column gap-2 overflow-auto"></div>
    </div>